<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add</title>
</head>
<body>
  <h1><%=title%></h1>
  <diV>
    <p><%-content%></p>
    <form method="post" action="/hello/add">
      <label>name</label>
    <input type="text"name="name" id="name">
      <label>mail</label>
    <input type="text"name="mail" id="mail">
      <label>age</label>
    <input type="number"name="age" id="age">
    <input type="submit" value="作製">
  </form>
  </diV>
</body>
</html>